<div id="home">
<h1> Hey! Welcome to the finance  tracker app... </h1>
</div>
<div id = "finance">
<img src ="https://i.pinimg.com/236x/10/79/30/1079304734a87199e22b4781ad83c8cf.jpg">
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
</div>