// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search{
    color:red;
    padding-top:70px;
}
.no-left-padding{
    padding-left:0px!important;
}
.no-right-padding{
padding-right:0px!important;
}
.rates{
    display:inline-block;
}