<% if notice %>
<div class = 'alert alert-success'>
<button type = "button" class = "close" data-dismiss= "alert" arai-label= "close">
<span aria-hidden= "true"> &times; </span>
</button>
<%= notice %>
</div>
<% end %>
<% if alert %>
<div class = 'alert alert-danger'>
<button type = "button" class = "close" data-dismiss= "alert" arai-label= "close">
<span aria-hidden= "true"> &times; </span>
</button>
<%= alert %>
</div>
<% end %>